body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: burlywood;
  text-align: center;
}
h1 {
  color: black;
}
p {
  color: cornflowerblue;
}
a {
  text-decoration: none;
  color: beige;
  cursor: pointer;
}
